body{
	font-family: "나눔고딕", "Nanum Gothic", sans-serif;
	margin:0;
	font-size:12;
}
a{
	color:#000000;
	text-decoration:none;
}

ul, li{
	list-style:none;
	padding:0;
	margin:0;
}

.clear{
	clear:both;
}

#mainTop{
	width:100%;
	height:30px;
	background:#00a085;
	padding:2px;
}


#mainTop a{
	color:#ffffff;
	font-weight:bold;
	font-size:12px;
}

#mainTop .TopA{
	padding:10px;
	font-weight:bold;
	
}

#mainTop .upgrade{
	float:right;
	padding-right:35px;
}

#wrap{
	width:960px;
	min-height:350px;
	margin:0 auto;
}


#header{
	padding:5px;
}

#header .logo{
	width:60px;
}

#header input{
	margin-left:40px;
	width:40%;
}

#header .searchbtn{
	background:#00a085;
	color:#ffffff;
	padding:2px 25px;
}

#header .invi{
	padding-left:40px;
}

#header .invi a{
	color:#00a085;
	padding: 0 15px;
	font-size:13px;
}

#content #serviceContainer{
	float:left;
	width:15.5%;
	margin-top:20px;

}

#content #serviceContainer ul > li > a{
	color:#00a085;
	padding:7px;
	font-size:12px;
}

#content #serviceContainer img{


}

#content #serviceContainer .more{
	font-size:2px;
}
#content #serviceContainer ul > li {
	padding:5px 10px;
}

#content #mainContainer {
	float:left;
	margin-top:20px;
	width:55%;
	height:900px;
}

.imageContainer img{
	width:100%;
}


.imageCaption{
	background:#111111;
	height:80px;
	padding:5%;
	position:relative;
	top:-135px;
	
}

.imageCaption .title a{
	color:#00a085;
	font-weight:bold;
}

.imageCaption .subTitle {
	font-size:12px;
	color:#666666;
}

.imageContainer {
	height:360px;
}
.thumbContainer{
	width:100%;
	position:relative;
	top:-61px;
}

.thumbContainer ul{
	width:960px;
	height:150px;
	overflow: hidden;
}
.thumbContainer ul li{
	float:left;
	height:150px;
	width:16%;
}

.thumbContainer ul li img{
	
}

.thumbnail{
	display:inline-block;
	height:125px;
	background: #ffffff;
	border-left:1px solid #666666;
	border-bottom:1px solid #666666;
	
}

.thumbnail:hover{
	border-bottom: 5px solid #00a085;
}

.thumbTitle{
	background:#ffffff;
	font-size:13px;
}

.thumbimg img{
	width:100%;
	height:100%;
}

.zineHeader{
	background: #00a085;
	padding:2%;
}

.zineHeader a{
	color:#8dc9bc;
	padding: 0 10px;
	font-size:12px;
	font-weight:bold;
}

.zineHeader a:hover{
	color:#ffffff;
}


.zineContent ul li{
	height:80px;	
	padding:10px 0px;
	border-bottom:1px solid #666666;
}

.zineContent img{
	height:80px;
	width:25%;
	float:left;
}

.zine {
	float:left;
	width:67%;
	margin-left:15px;
}

.zine h5{
	margin-top:4px;
}

.zine p{
	margin-top:-10px;
	font-size:13px;
}

		
#subContainer{
	background:#777777;
	height:1000px;
	width:20%;
	position:relative;
	margin-top:20px;	
	float:left;
}

